[submodule "SharedData"]
	path = SharedData
	url = https://github.com/insthync/UnityMultiplayerARPG_SharedData.git
[submodule "DevExtension"]
	path = DevExtension
	url = https://github.com/insthync/unity-dev-extension.git
[submodule "LiteNetLibManager"]
	path = LiteNetLibManager
	url = https://github.com/insthync/LiteNetLibManager.git
