[submodule "SharedData"]
	path = SharedData
	url = https://github.com/insthync/UnityMultiplayerARPG_SharedData.git
[submodule "DevExtension"]
	path = DevExtension
	url = https://github.com/insthync/unity-dev-extension.git
[submodule "LiteNetLibManager"]
	path = LiteNetLibManager
	url = https://github.com/insthync/LiteNetLibManager.git
	branch = minimal
[submodule "DatabaseManagerSource"]
	path = DatabaseManagerSource
	url = https://github.com/insthync/UnityMultiplayerARPG_DatabaseManagerSource.git
[submodule "CentralServerSource"]
	path = CentralServerSource
	url = https://github.com/insthync/UnityMultiplayerARPG_CentralServerSource.git
[submodule "SharedNetworkMessages"]
	path = SharedNetworkMessages
	url = https://github.com/insthync/UnityMultiplayerARPG_SharedNetworkMessages.git
